@inject IJSRuntime JsRuntime

<h3>Video Player</h3>
    <video style="height: 250px" id="hlsPlayer" controls></video>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("initializeHlsPlayer", "hlsPlayer", "../../Videos/Rou1080/rou1080.m3u8");
    }
}